@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    height: 55px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 100;

}

#contact_me {
    color: white;
    width: 130px;
    height: 35px;
    background-color: rgb(44, 208, 98);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gowun Dodum', sans-serif;
    border-radius: 8px;
    gap: 6px;
}

#contact_me a {
    color: rgb(255, 255, 255);
}

#menuBTN {
    color: white;
    margin: 0px 15px;
    font-size: 25px;
    display: none;
}

@media (max-width:1000px) {

    #menuBTN {
        display: flex;
    }

}



/* foooter */
.footerbox {
    width: 90%;
    height: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 100px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.work {
    width: 100%;
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worktagline {
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 0px;
    font-weight: 900;
    color: black;
    background-color: greenyellow;
}

.workadd {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftwork {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rightwork {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.worktext {
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hireme {

    border-radius: 10px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    color: white;
    border: 3px solid greenyellow;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.hireme::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    transform: translateX(-100%);
    transition: all .7s;
    z-index: -1;
   }
   .hireme:hover::before {
    transform: translateX(0);
   }
.hireme a {
    color: black;
}



@media (max-width:940px) {
    .workadd {
        flex-direction: column;
    }

    .worktext {
        width: 100%;
        font-size: 12px
    }

    .footerbox {
        height: 1000px;
    }

    .rightwork {
        display: flex;
        justify-content: start;
    }
}


/* ---------footer----------- */

.footer {
    width: 100%;
    height: 35%;
    background-color: gray;
    display: flex;
    justify-content: center;

}

.address {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.addresslink {
    width: 30%;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    gap: 20px;

}

.addresslink i {
    color: greenyellow;
}

.aboutbox {
    width: 100px;
    height: 50px;
    border: 2px solid greenyellow;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.abouttext {
    width: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}




@media (max-width:940px) {
    .footer {
        flex-direction: column;
        height: 500px;
    }

    .abouttext {
        width: 100%;
        font-size: 12px;
    }

    .about {
        width: 90%;
        justify-content: start;
        align-items: center;
        padding: 0px 10px;

    }

    .aboutbox {
        width: 80px;
        height: 40px;
    }

    .addresslink {
        font-size: 15px;
        width: 60%;
    }


}






/* ----------pc menu bar----------------------------------------------------------------- */


#menuLIST {
    width: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: rgb(22, 21, 26);


}

.aboutLIST {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    padding: 50px 0px;
}

.item {

    width: 50%;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 19px;
    gap: 30px;
    font-family: 'Gowun Dodum', sans-serif;

}

.item i {
    font-size: 27px;

}

.item,
a {
    color: gray;
    text-decoration: none;
}

@media (max-width:1000px) {

    #menuLIST {
        display: none;
    }

}

.item:hover {
    color: white;

    a {
        color: white;
    }

}





/* -------------------------social midia list------------- -- */
.socialLIST {

    width: 100%;
    display: flex;
    /* background-color: aqua; */
    gap: 25px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.socialmedia {

    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 19px;
    gap: 23px;
    font-family: 'Gowun Dodum', sans-serif;



}

#tag {
    color: gray;
    width: 100%;
    height: 35px;
    font-size: 23px;
    padding-left: 40px;
    font-family: 'Gowun Dodum', sans-serif;
}

#insta i {
    font-size: 27px;
    color: pink;

}

#youtube i {
    font-size: 27px;
    color: rgba(255, 0, 0, 0.983);
}

#github i {
    font-size: 27px;
    color: aqua;
}

#twitter i {
    font-size: 27px;
    color: skyblue;
}

#linkedin i {
    font-size: 27px;
    color: blue;
}

/* hover------- */
#insta a:hover {
    color: pink;

}

#youtube a:hover {
    color: red;
}

#github a:hover {

    color: aqua;
}

#linkedin a:hover {

    color: blue;
}

#twitter a:hover {
    color: skyblue;
}